<div class="section section-buttons">
    <div class="container">
        <div class="tim-title">
            <h2>Bem-vindo!</h2>
        </div>
        <div class="typography-line">
            <h2>

                <small>Ola, me chamo Leonardo e desde já seja bem-vinda(o) ao meu site <br /></small>
            </h2>
        </div>
        <br />
        <br />
        <div class="tim-title">
            <h2>Quem eu sou?</h2>
        </div>
        <div class="typography-line">
            <h2>
                <br />
                <small>
                    Primeiro falarei sobre minha educação academica <br />
                    Eu ainda estou cursando a faculdade, atualmente no curso de BICT(Bacharelado Interdisciplinar em
                    Ciência e Tecnologia)
                    no qual pretendo me formar no ano de 2021 e posteriormente seguirei para a <h6>Engenharia da
                        Computação
                        .</h6><br />
                    Segundo sobre minha paixão e meu trabalho<br />
                    Sou programador desde 2017, comecei a aprender com <h6>Python</h6> em 2018 devido a um grupo da
                    faculdade começei a aprender
                    html,css e JS juntamente com o framework <h6>Angular</h6> no mesmo ano tambem me envolvi com mobile
                    através do <h6>Ionic</h6> e
                    logo depois Cheguei no <h6>Flutter</h6> que até hoje utilizo como principal framework para meus
                    projetos mobile e não esquecendo
                    do Angular para os projetos web. <br />
                    Todo esse tempo fui melhorando minhas habilidades de programação, versionamento, gerenciamento de
                    projeto, métodos de desenvolvimento ágil,
                    planejamento de projeto, mockups, fazer café.
                </small>
            </h2>
        </div>

    </div>
</div>