<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/01.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="angular-logo">
                        <img style="border-radius: 50%;" src="assets/img/leopage.jpeg" alt="">
                    </div>
                    <h1 class="presentation-title">Leonardo Ferreira</h1>
                </div>

                <h2 class="presentation-subtitle text-center">Desenvolvedor de Software</h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>

    </div>
    <div class="main">
        <app-basicelements></app-basicelements>
        <app-navigation></app-navigation>
        <br />
        <br />
        <div class="section section-buttons">
            <div class="container">
                <div class="tim-title">
                    <h2>Meus projetos</h2>
                </div>
                <div class="typography-line">
                    <h2>
                        <br />
                        <small>
                            Desde o inicio do meu desenvolvimento front e back-end, a maioria dos projetos que
                            desensolvi já
                            foram feitos para empresas e alguns poucos que fiz para demonstrar minhas habilidades como
                            desenvolvedor. <br />
                            Veja a baixo imagens de alguns projetos
                        </small>
                    </h2>
                </div>
            </div>
        </div>

        <div class="section" id="carousel">
            <div class="container">
                <div class="tim-title" style="text-align: center;">
                    <h3>Projetos</h3>
                </div>
                <div class="typography text-center">
                    <h4>
                        <small>Em desenvolvimento<br /></small>
                    </h4>
                </div>
                <div class="row">
                    <div class="col-md-8 mr-auto ml-auto">
                        <ngb-carousel>
                            <ng-template ngbSlide>
                                <img src="assets/img/flyer.jpg" alt="Random  slide">
                                <div class="carousel-caption">
                                    <h3>SOS Cosmetic</h3>
                                    <p>Aplicativo de compra de produtos cosméticos</p>
                                    <a href="https://play.google.com/store/apps/details?id=com.pankok.sos_cosmetics">Olhe
                                        na Google play
                                    </a>
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="assets/img/graosbrasil.jpg" alt="Random  slide">
                                <div class="carousel-caption">
                                    <h3>Grãos Brasil</h3>
                                    <p>App de compra de items para animais da Grãos Brasil</p>
                                    <a
                                        href="https://play.google.com/store/apps/details?id=com.grupobrasil.graos_brasil_final">Olhe
                                        na Google play
                                    </a>
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="assets/img/multichecker.jpg" alt="Random  slide">
                                <div class="carousel-caption">
                                    <h3>Multi Checker (Adsum)</h3>
                                    <p>Sistema de monitoramento de funcionários</p>
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="assets/img/preparacao.jpg" alt="Random  slide">
                                <div class="carousel-caption">
                                    <h3>RDO (Adsum)</h3>
                                    <p>Sistema de gerenciamento de obras</p>
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="assets/img/preparacao.jpg" alt="Random  slide">
                                <div class="carousel-caption">
                                    <h3>Swex (Adsum)</h3>
                                    <p>Sistema voltado para entrega de encomendas pessoais</p>
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="assets/img/preparacao.jpg" alt="Random  slide">
                                <div class="carousel-caption">
                                    <h3>PromoClubs (Adsum)</h3>
                                    <p>Clube de promoções para bares e restaurantes</p>
                                </div>
                            </ng-template>

                            <ng-template ngbSlide>
                                <img src="assets/img/preparacao.jpg" alt="Random  slide">
                                <div class="carousel-caption">
                                    <h3>Lookfish (Tertulia)</h3>
                                    <p>App de venda de rações para peixe em grupo</p>
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="assets/img/denunciafacil.jpg" alt="Random  slide">
                                <div class="carousel-caption">
                                    <h3>Denúncia fácil (Tertulia)</h3>
                                    <p>Sistema para denúncia de infrações de trânsito</p>
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="assets/img/preparacao.jpg" alt="Random  slide">
                                <div class="carousel-caption">
                                    <h3>Wapi (Aygus)</h3>
                                    <p>Monitoramebto em tempo real das condições da água de psiculturas</p>
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="assets/img/preparacao.jpg" alt="Random  slide">
                                <div class="carousel-caption">
                                    <h3>E-analises (Aygus)</h3>
                                    <p>Gerenciador de recursos laboratoriais</p>
                                </div>
                            </ng-template>

                        </ngb-carousel>

                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="tim-title" style="text-align: center;">
            <h2>Obrigado!</h2>
        </div>

    </div>
</div>