<div class="section section-navbars">
    <div id="navbar">
        <div class="container">
            <div class="tim-title">
                <h3>
                    Veja meus trabalhos e um pouco da minha vida
                </h3>
                <br />
            </div>
        </div>
        <div class="navigation-example">

            <nav class="navbar navbar-expand-lg navbar-transparent">
                <div class="container">
                    <a class="navbar-brand" href="#">
                        Outros locais em que voçê pode me encontrar
                    </a>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                        data-target="#navbar-transparent" aria-controls="navbarNav" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar"></span>
                        <span class="navbar-toggler-bar"></span>
                        <span class="navbar-toggler-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar-transparent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="https://gitlab.com/pankok"><i class="fa fa-gitlab"
                                        aria-hidden="true"></i> Gitlab</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://www.linkedin.com/in/leonardo-ferreira-873aa9150"><i
                                        class="fa fa-linkedin" aria-hidden="true"></i> Linkedin</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://www.facebook.com/profile.php?id=100006457947570"><i
                                        class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://www.instagram.com/leo20.21/"><i
                                        class="fa fa-instagram" aria-hidden="true"></i> Instagram</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>