<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, feito por<i class="fa fa-heart heart"></i> Leonardo Ferreira
                </span>
            </div>
        </div>
    </div>
</footer>
